.top-wrapper{
    background-image: url(PHOTO/D99C6188-3790-4DAE-AD85-61818B007AA1_1_105_c.jpeg);
    background-size: cover;
    text-align: center;
    color: orange;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;

}

.top-wrapper{
    position: bottom 0;
}

.container h1 span{
    font-size: 22px;
    background-color: white;
    opacity: 0.8;
    padding: 5px;
}

.container h3 span{
    font-size: 18px;
    background-color: white;
    opacity: 0.8;
    padding: 5px;
}

.btn-entry2{
    background-color:orange;
    padding: 5px 10px;
    font-size: 20px;
    display: inline-block;
    color: white;
    border-radius:4px;
}

.btn-entry2:hover{
    opacity:1;
  }


.header-logo{
    float: left;
}



.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 45px;
    width: 45px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: orange;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: orange;
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: orange;
    transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}



.title-btn{
    color: white;
    border-radius:4px;
}

.btn-entry1{
    border-radius:4px;
}

.concept{
    padding-top: 10px;
}

.concept p {
    letter-spacing: 0.05em;
    line-height: 30px;
}

.concept-photo{
    text-align: center;
}

.top-concept{
    font-size: 25px;
    border-left: 4px solid #000;
    padding-left: 10px;
    display: block;
}

.concept h3{
    font-size: 27px;
    text-align: center;
    text-decoration-line: underline;
}

.concept img{
    width: 250px;
    height: 155px;
    
}

.about-us{
    padding-top: 50px;
}

.top-about-us{
    font-size: 25px;
    border-left: 4px solid #000;
    padding-left: 10px;
    display: block;
}

.topic h1{
    font-size: 23px;
    text-align: center;
    text-decoration-line: underline;
}

.topic p{
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 30px;
}

.person-photo{
    text-align: center;
}

.person-photo img{
    width: 230px;
    height: 230px;
}

.persons{
    padding-top: 20px;
}

.person1{
    display:inline-block;
    padding: 0 10px 10px 10px;
}

.name{
    font-size: 20px;
    text-align: center;
}


.person2{
    display:inline-block;
    padding: 0 10px 10px 10px;
}

.btn-entry1{
    background-color:orange;
    padding: 5px 10px;
    font-size: 20px;
    display: inline-block;
    color: white;
    
}

.btn{
    text-align: center;
    padding-top: 20px;
}

.content{
    padding-top: 50px;
}

.top-content{
    font-size: 25px;
    border-left: 4px solid #000;
    padding-left: 10px;
    display: block;
}

.event-content h3{
    text-align: center;
    font-size: 25px;
}

li{
    list-style:none
}

.event-photo{
    text-align: center;
}

.event-photo img{
    width: 260px;
    height: 260px;
}

.top-schedule{
    font-size: 25px;
    border-left: 4px solid #000;
    padding-left: 10px;
    display: block;
}

.schedule{
    padding-top: 50px;
    padding-bottom: 50px;

}



.schedule-title{
    text-align: center;
    font-size: 25px;
}


.schedule-content{
    background-color: rgba(196, 196, 196, 0.3);
    padding: 5px 10px;
    font-size: 20px;
    margin: 0 auto;
    width: 80%;
}

.schedule-content-title{
    text-align: center;
}

.schedule-content-body{
    text-align: left;

}

.btn-entry3{
    background-color:orange;
    padding: 5px 10px;
    font-size: 20px;
    display: inline-block;
    color: white;
    border-radius:4px;
}

footer{
    padding-top: 50px;
}

.footer-container{
    background-color: orange;
    height: 70px;
    position: relative;
}
.footer-container img{
    width: 200px;
}

.footer-right{
    font-size: 10px;
    float: right;
}
